<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruanjian.restaurantrear.mapper.OrderDishMapper">
    <insert id="insertOrderDish" parameterType="OrderDish">
    INSERT into order_dish VALUES(#{order_number},#{dish_number},#{amount});
    </insert>
    <select id="selectOrderDishNameByOrderNumber" resultType="OrderDishRank">
        SELECT
	dish.dish_name,
	order_dish.amount
FROM
	order_dish,
	dish
WHERE
	order_dish.dish_number = dish.dish_number
	AND order_number =#{number}
    </select>
    <select id="selectOrderDishRank" resultType="OrderDishRank">
    SELECT
        dish.dish_name,
        SUM( order_dish.amount ) AS amount
    FROM
        order_dish,
        dish
    WHERE
        order_dish.dish_number = dish.dish_number
    GROUP BY
        dish.dish_name
    ORDER BY
        amount DESC
    </select>
</mapper>